*{
    margin: 0;
}
body{
    background: #f0f0f0;
}

h1{
    font-size: 70px;
    font-family: 'Montserrat', serif;
    color: #f0f0f0;
    text-align: center;
    padding-top: 50px;
    text-shadow: 1px 1px 10px #111;
} 
h3{
    padding-top: 50px;
    font-size: 30px;
    font-family: 'Montserrat', serif;
    color: cadetblue;
    text-align: center;
}

p {
    font-family: 'Roboto', sans-serif;
    line-height: 1.7;
    text-align: justify;
    color: #111;
    padding: 30px 0px;
}
button, span, input, textarea{
    color: #111;
    font-family: 'Roboto', sans-serif;
}
.imags{
    width: 350px;
    height: 200px;
    object-fit: cover;
}

#container{
    width: 1261px;
    margin: auto;
    display: grid;
    grid-template-columns: repeat(3,1fr);
    grid-gap: 102px;
    margin-bottom: 100px;
}

.c{
    width: 350px;
}

.hero{
    width: 1258px;
    margin: auto;
    height: 370px;
    background-size: cover;
    background-position: bottom;
    margin-bottom: 50px;
    background-attachment: fixed;
}

.hero1{
    background-image: url('../indexhabitaciones/tango/imgs/barcelo-tamborhero3.jpg');
}
.hero2{
    background-image: url('../indexhabitaciones/doubletree/img/hero2.jpg');
}
.hero3{
    background-image: url('../indexhabitaciones/barcelótambor/img/hero1.jpg');
}

.buttons{
    width: 1258px;
    margin: auto;
}

.boton{
    font-size: 21px;
    font-weight: 600;
    width: 200px;
    height: 40px;
    transition: 0.4s;
    outline: none;
}

.boton:hover{
    cursor: pointer;
}

.b2{
    color: cadetblue;
    background: transparent;
    border: 3px solid cadetblue;
}


.b1{
    color: #f0f0f0;
    background: cadetblue;
    border: 3px solid cadetblue;
}

.form{
    width: 300px;
    margin: auto;
    margin-top: 40px;
}
input, textarea{
    font-size: 18px;
    text-align: center;
    padding-top: 20px;
    transition: 0.4s;
    border: 0px;
    background: transparent;
    color: cadetblue;
}
input{
    width: 100%;
    height: 30px;
    margin-bottom: 10px;
    border-bottom: 3px solid cadetblue;
}

textarea{
    width: 290px;
    height: 100px;
    border: 3px solid cadetblue;
}

input:hover, textarea:hover{
    background: white;
    color: cadetblue;
}
::placeholder{
    color: cadetblue;
}

.footer{
    height: 200px;
    background: #111;
    color: #f0f0f0;
}

.footer_wrapper{
    margin: auto;
    width: 1258px;
}


.cc {
    color: #f0f0f0;
}

.volver{
    position: sticky;
    background: cadetblue;
    top: 0;
    line-height: 1.4;
    font-family: 'Montserrat', sans-serif;
    color: #f0f0f0;
    font-size: 20px;
    padding-left: 10%;
    transition: 0.4s;
    border-bottom: 3px solid cadetblue;
}

.volver:hover{
    cursor: pointer;
    background: #ffffff;
    color: cadetblue;
    padding-left: 3%;
}

a{
    
    text-decoration: none;
}