/*Creado por LuisArmando-TestCoder*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

* {
  user-select: none; }

audio {
  position: fixed;
  top: 0;
  left: 0;
  width: 100px;
  height: 100px;
  background: #111; }

body {
  overflow: hidden; }

.bg {
  height: 100vh;
  position: relative;
  background: #dad4c4; }

.sun {
  width: 50vh;
  height: 50vh;
  border-radius: 50%;
  position: absolute;
  left: 0;
  right: 0;
  top: 5vh;
  margin: auto;
  overflow: hidden; }
  .sun:after {
    content: "";
    display: block;
    height: 20%;
    background: #cc6e50;
    box-shadow: 0 5vh 0 #cd6b60, 0 10vh 0 #b05d5b, 0 15vh 0 #ca6e87, 0 20vh 0 #a36282, 0 25vh 0 #a17198, 0 30vh 0 #767390, 0 40vh 0 1vh #334559; }

.buildings {
  height: 19vh;
  width: 2vh;
  position: fixed;
  margin: auto;
  bottom: 30vh;
  left: 50vw;
  background: #b05d5b; }
  .buildings:after {
    content: '';
    display: block;
    height: 10vh;
    width: 100vw;
    position: fixed;
    margin: auto;
    bottom: 30vh;
    left: 0;
    background: #b05d5b; }

.buildingsB {
  height: 22vh;
  width: 20vh;
  position: fixed;
  margin: auto;
  bottom: 26vh;
  left: 70vw;
  background: #ca6e87; }
  .buildingsB:after {
    content: '';
    display: block;
    height: 21vh;
    width: 100vw;
    position: fixed;
    margin: auto;
    bottom: 10vh;
    left: 0;
    background: #ca6e87; }

.buildingsC {
  height: 43vh;
  width: 27vh;
  position: fixed;
  margin: auto;
  bottom: 0vh;
  left: 40vw;
  background: #a36282; }
  .buildingsC:after {
    content: '';
    display: block;
    height: 10vh;
    width: 100vw;
    position: fixed;
    margin: auto;
    bottom: 0vh;
    left: 0;
    background: #a36282; }

.cat {
  position: fixed;
  bottom: 0;
  left: 0px;
  height: 50px;
  width: 20px;
  background-image: url("https://opengameart.org/sites/default/files/sprite_base_addon_2012_12_14_1.png"); }

.stand {
  animation: stand 0.8s step-end infinite; }

/* keyframes */
@keyframes stand {
  0% {
    background-position: -20px -4px; }
  25% {
    background-position: -84px -4px; }
  50% {
    background-position: -148px -4px; }
  75% {
    background-position: -212px -4px; } }

@keyframes walk {
  0% {
    background-position: -20px -68px; }
  12.5% {
    background-position: -84px -68px; }
  25% {
    background-position: -148px -68px; }
  37.5% {
    background-position: -212px -68px; }
  50% {
    background-position: -276px -68px; }
  62.5% {
    background-position: -340px -68px; }
  75% {
    background-position: -404px -68px; }
  87.5% {
    background-position: -468px -68px; } }

@keyframes jump {
  0% {
    background-position: -20px -132px; }
  12.5% {
    background-position: -84px -132px; }
  25% {
    background-position: -148px -132px; }
  37.5% {
    background-position: -212px -132px; }
  50% {
    background-position: -276px -132px; }
  62.5% {
    background-position: -340px -132px; }
  75% {
    background-position: -404px -132px; }
  87.5% {
    background-position: -468px -132px; } }

@keyframes spin {
  0% {
    background-position: -20px -196px; }
  10% {
    background-position: -84px -196px; }
  20% {
    background-position: -148px -196px; }
  30% {
    background-position: -212px -196px; }
  40% {
    background-position: -276px -196px; }
  50% {
    background-position: -340px -196px; }
  60% {
    background-position: -404px -196px; }
  70% {
    background-position: -468px -196px; }
  80% {
    background-position: -532px -196px; }
  90% {
    background-position: -596px -196px; } }

@keyframes dead {
  0% {
    background-position: -20px -260px; }
  14.28571% {
    background-position: -84px -260px; }
  28.57143% {
    background-position: -148px -260px; }
  42.85714% {
    background-position: -212px -260px; }
  57.14286% {
    background-position: -276px -260px; }
  71.42857% {
    background-position: -340px -260px; }
  85.71429% {
    background-position: -404px -260px; } }

@keyframes powerShot {
  0% {
    background-position: -20px -324px; }
  14.28571% {
    background-position: -84px -324px; }
  28.57143% {
    background-position: -148px -324px; }
  42.85714% {
    background-position: -212px -324px; }
  57.14286% {
    background-position: -276px -324px; }
  71.42857% {
    background-position: -340px -324px; }
  85.71429% {
    background-position: -404px -324px; } }

@keyframes fastShot {
  0% {
    background-position: -20px -388px; }
  16.66667% {
    background-position: -84px -388px; }
  33.33333% {
    background-position: -148px -388px; }
  50% {
    background-position: -212px -388px; }
  66.66667% {
    background-position: -276px -388px; }
  83.33333% {
    background-position: -340px -388px; } }

@keyframes flyingKick {
  0% {
    background-position: -20px -452px; }
  12.5% {
    background-position: -84px -452px; }
  25% {
    background-position: -148px -452px; }
  37.5% {
    background-position: -212px -452px; }
  50% {
    background-position: -276px -452px; }
  62.5% {
    background-position: -340px -452px; }
  75% {
    background-position: -404px -452px; }
  87.5% {
    background-position: -468px -452px; } }

@keyframes superUppercut {
  0% {
    background-position: -20px -516px; }
  7.69231% {
    background-position: -84px -516px; }
  15.38462% {
    background-position: -148px -516px; }
  23.07692% {
    background-position: -212px -516px; }
  30.76923% {
    background-position: -276px -516px; }
  38.46154% {
    background-position: -340px -516px; }
  46.15385% {
    background-position: -404px -516px; }
  53.84615% {
    background-position: -468px -516px; }
  61.53846% {
    background-position: -532px -516px; }
  69.23077% {
    background-position: -596px -516px; }
  76.92308% {
    background-position: -660px -516px; }
  84.61538% {
    background-position: -724px -516px; }
  92.30769% {
    background-position: -788px -516px; } }

@keyframes oneTwoCombo {
  0% {
    background-position: -20px -580px; }
  10% {
    background-position: -84px -580px; }
  20% {
    background-position: -148px -580px; }
  30% {
    background-position: -212px -580px; }
  40% {
    background-position: -276px -580px; }
  50% {
    background-position: -340px -580px; }
  60% {
    background-position: -404px -580px; }
  70% {
    background-position: -468px -580px; }
  80% {
    background-position: -532px -580px; }
  90% {
    background-position: -596px -580px; } }

@keyframes lowKick {
  0% {
    background-position: -20px -644px; }
  16.66667% {
    background-position: -84px -644px; }
  33.33333% {
    background-position: -148px -644px; }
  50% {
    background-position: -212px -644px; }
  66.66667% {
    background-position: -276px -644px; }
  83.33333% {
    background-position: -340px -644px; } }

@keyframes highKick {
  0% {
    background-position: -20px -708px; }
  16.66667% {
    background-position: -84px -708px; }
  33.33333% {
    background-position: -148px -708px; }
  50% {
    background-position: -212px -708px; }
  66.66667% {
    background-position: -276px -708px; }
  83.33333% {
    background-position: -340px -708px; } }

@keyframes downwardKick {
  0% {
    background-position: -20px -772px; }
  12.5% {
    background-position: -84px -772px; }
  25% {
    background-position: -148px -772px; }
  37.5% {
    background-position: -212px -772px; }
  50% {
    background-position: -276px -772px; }
  62.5% {
    background-position: -340px -772px; }
  75% {
    background-position: -404px -772px; }
  87.5% {
    background-position: -468px -772px; } }

@keyframes twoSideAttack {
  0% {
    background-position: -20px -836px; }
  12.5% {
    background-position: -84px -836px; }
  25% {
    background-position: -148px -836px; }
  37.5% {
    background-position: -212px -836px; }
  50% {
    background-position: -276px -836px; }
  62.5% {
    background-position: -340px -836px; }
  75% {
    background-position: -404px -836px; }
  87.5% {
    background-position: -468px -836px; } }

@keyframes roundKick {
  0% {
    background-position: -20px -900px; }
  12.5% {
    background-position: -84px -900px; }
  25% {
    background-position: -148px -900px; }
  37.5% {
    background-position: -212px -900px; }
  50% {
    background-position: -276px -900px; }
  62.5% {
    background-position: -340px -900px; }
  75% {
    background-position: -404px -900px; }
  87.5% {
    background-position: -468px -900px; } }

@keyframes uppercut {
  0% {
    background-position: -20px -964px; }
  16.66667% {
    background-position: -84px -964px; }
  33.33333% {
    background-position: -148px -964px; }
  50% {
    background-position: -212px -964px; }
  66.66667% {
    background-position: -276px -964px; }
  83.33333% {
    background-position: -340px -964px; } }
