@mixin card {
  font-size: 0.75rem;
  font-family: sans-serif;
  left: 0;
  right: 0;
  padding: 5% 0;
  line-height: 1.5;
  display: block;
  background: transparent;
  font-weight: bold;
  text-transform: uppercase;
  transition: 0.15s;
  border: 0;
  &:hover {
    cursor: pointer;
  }
}
