$sizevh: 100vh;
$sizevw: 100vw;
$degAmount: 100deg;
$white: #fff;
$black: #101010;
body{
  overflow: hidden;
  margin: 0;
}
span{
  position: fixed;
  color: $white;
  font-size: $sizevw*0.02;
  letter-spacing: $sizevw*0.0025;
  line-height: 2;
  bottom: 0;
  mix-blend-mode: exclusion;
  a{
    color: $white;
  }
}
@keyframes bigWave{
  50%{
    top:  $sizevh*0.25;
  }
}
@keyframes spin{
  100%{
    transform: rotate(-$degAmount*4+$degAmount*0.05);
  }
}
@keyframes spin2{
  50%{
    transform: rotate(-$degAmount*4+$degAmount*0.05*2);
  }
}