#wrapper3{
    .ovals{
      background: #fff;
      mix-blend-mode: difference;
      display: grid;
      place-items: center;
      position: absolute;
      width: $sizevw;
      height: $sizevh*0.25;
      border: $sizevw*0.01 double #5e2129;
      border-radius: 50%;
      top: 0;
      bottom: 0;
      left: 0;
      right: 0;
      margin: auto;
      animation: spin2 120s ease-in-out infinite;
      //black
    }
    min-height: $sizevh;
    width: $sizevw;
    position: relative;
    background: $white;
    transform: rotateY(180deg);
    //white
  } 